In [ ]:
import omf
from bm_handler import BlockModelHandler

In [2]:
omf_reader = omf.load("../design_assets/test_project.omf")
bm = omf_reader.elements[-1]

In [3]:
len(bm.tensor_u)

110

In [4]:
bm_handler = BlockModelHandler(bm, None, "CU_pct > 2")
len(bm_handler.get_bm_dataframe)

18869

In [5]:
bm_handler.filter_dataframe_using_query("CU_pct > 2")

In [6]:
len(bm_handler.get_bm_dataframe)

18869

In [7]:
bm = bm_handler.get_bm_dataframe
bm_handler.make_compact()

In [11]:
df = bm_handler.get_bm_dataframe
len(df[df['is_outer']])

5182

In [12]:
df

,x_size,y_size,z_size,x_coord,y_coord,z_coord,i_index,j_index,k_index,bench,CU_pct,is_outer
578725,10.0,10.0,10.0,445070.0,493880.0,2700.0,37,108,37,2700,2.140573,True
655562,10.0,10.0,10.0,445120.0,493880.0,3070.0,42,108,74,3070,2.016796,True
700074,10.0,10.0,10.0,445150.0,493720.0,2750.0,45,92,42,2750,2.000541,True
700075,10.0,10.0,10.0,445150.0,493720.0,2760.0,45,92,43,2760,2.092148,True
716288,10.0,10.0,10.0,445160.0,493810.0,2650.0,46,101,32,2650,2.200971,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1435817,10.0,10.0,10.0,445630.0,493560.0,2740.0,93,76,41,2740,2.039027,True
1435818,10.0,10.0,10.0,445630.0,493560.0,2750.0,93,76,42,2750,2.075968,True
1435819,10.0,10.0,10.0,445630.0,493560.0,2760.0,93,76,43,2760,2.081447,True
1435820,10.0,10.0,10.0,445630.0,493560.0,2770.0,93,76,44,2770,2.049656,True
1435914,10.0,10.0,10.0,445630.0,493570.0,2750.0,93,77,42,2750,2.001216,True